<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.inventory.management.rest.ProductControllerTest"/>
      <class name="com.inventory.management.rest.IT.ProductControllerIT"/>
      <class name="com.inventory.management.services.ProductServiceTest"/>
      <class name="com.inventory.management.rest.IT.SizeControllerIT"/>
      <class name="com.inventory.management.rest.IT.InventoryControllerIT"/>
      <class name="com.inventory.management.rest.WarehouseControllerTest"/>
      <class name="com.inventory.management.rest.IT.BaseTestCaseIT"/>
      <class name="com.inventory.management.rest.InventoryControllerTest"/>
      <class name="com.inventory.management.rest.SizeControllerTest"/>
      <class name="com.inventory.management.rest.InventoryBeanConverterTest"/>
      <class name="com.inventory.management.rest.IT.WarehouseControllerIT"/>
      <class name="com.inventory.management.services.OfficeServiceTest"/>
      <class name="com.inventory.management.rest.OfficeControllerTest"/>
      <class name="com.inventory.management.services.InventoryServiceTest"/>
      <class name="com.inventory.management.rest.IT.OfficeControllerIT"/>
      <class name="com.inventory.management.services.WarehouseServiceTest"/>
      <class name="com.inventory.management.services.ReferenceServiceTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
